@using System.Collections.Generic;
@using System.Diagnostics
@using Blackriverinc.Framework.DataStore
@using Blackriverinc.Framework.Utility
@model IEnumerable<Library.Model.Book>
@{  
    Layout = "~/Views/Shared/_PageBase.cshtml";
    Page.Title = "Black River Systems, Inc - Lending Library";
}
@*
 *
 *  
 *
 *@
<form id="order-entry" action="Library/Checkout" method="post">
    <div class="oe-panels">
        <div id="menu-header">
            <ul class="oe-nav" id="order-entry-menu">
                <li><a href="#welcome">Welcome!</a></li>
                <li><a href="#book-selection">Select a Book</a></li>
                <li><a href="#information">Personal Information</a></li>
                <li><a href="#confirmation">Confirm Order</a></li>
            </ul>
        </div>
        <div class="oe-container">
            <div class="oe-panel" id="welcome">
                <fieldset>
                    <legend>Welcome!</legend>
                    <p>
                        If you are looking for something to read amongst are numerous titles, you have come
               to right place!
                    </p>
                    <p>
                        Press <span style='font-style: italic'>Next</span> to continue...
                    </p>
                </fieldset>
                <br style="clear: both;" />
                <div class="oe-nav-footer">
                    <label class='oe-next oe-button' onclick="showPanel('#book-selection');">
                        <span class='oe-button-label'>Next</span></label>
                </div>
            </div>
            <div class="oe-panel" id="book-selection">
                <fieldset>
                    <legend>Book Selection</legend>
                    <p>
                        Choose any one of the titles below.
                    </p>
                    <ul id="book-list" style="list-style: none;">
                        @foreach (var book in @Model)
                            {
                            <li class='oe-modelitem' id='item-@book.ISBN' @(book.CheckedOut != null?"xcheckedout=true":"")>
                                <p>
                                    <img src="~/images/@(book.ISBN).jpg" alt="@book.ISBN" />
                                </p>
                                <p id="title-@book.ISBN">
                                    @book.Title
                                </p>
                                <p class="oe-choice">
                                    <input type="radio" id="choice-book-@book.ISBN" name="ChoiceBook" @((@book.CheckedOut !=  null)?"disabled":"") />
                                    ISBN: @book.ISBN
                                </p>
                            </li>
                            }
                    </ul>
                    <br style="clear: left;" />
                    <div>
                        <input type="radio" id="choice-book-none" name="ChoiceBook" />
                        <p id="title-none" style="display: inline;">
                            No, thanks! I will not be borrowing a book today.
                        </p>
                    </div>
                </fieldset>
                <br style="clear: both;" />
                <div class="oe-nav-footer">
                    <label class='oe-prev oe-button' onclick="showPanel('#welcome');">
                        <span class='oe-button-label'>Back</span></label>
                    <a class="oe-button center" href="/Library/Export"><span class='oe-button-label'>Export...</span></a>
                    <label class='oe-next oe-button' onclick="showPanel('#information');">
                        <span class='oe-button-label'>Next</span></label>
                </div>
            </div>
            <div class="oe-panel" id="information">
                <fieldset>
                    <legend>Subscriber Information</legend>
                    <div style="display: block;">
                        <label class="oe-label" style="float: right; margin: 15px 27px 27px 27px; display: block">
                            <strong>*&nbsp;Entries required</strong>
                        </label>
                        <div id="shipping-information" style="float: left; margin-right: 27px; border: 1px single black">
                            <label class="oe-label" style="margin-top: 2pt;">
                                Email *</label>
                            <input type="text" name="Email" id="email" class="email oe-text required not-handled"
                                title="Entry required" />
                            <label class="oe-label">
                                Name *</label>
                            <input type="text" name="Name" id="name" class="oe-text required" title="Entry required" />
                            <label class="oe-label">
                                Address *</label>
                            <input type="text" name="Address" id="address" class="oe-text required"
                                title="Entry required" />
                            <label class="oe-label">
                                City *</label>
                            <input type="text" name="City" id="city" class="oe-text required" title="Entry required" />
                            <label class="oe-label">
                                State *</label>
                            <input type="text" name="State" id="state" class="oe-text required"
                                title="Entry required" style="width: 2em;" />
                            <label class="oe-label">
                                PostalCode *</label>
                            <input type="text" name="PostalCode" id="postalcode" class="oe-text required"
                                title="Entry required" />
                        </div>
                    </div>
                </fieldset>
                <br style="clear: both;" />
                <div class="oe-nav-footer">
                    <label class='oe-prev oe-button' onclick="showPanel('#book-selection');">
                        <span class='oe-button-label'>Back</span></label>
                    <label class='oe-next oe-button' onclick="showPanel('#confirmation')">
                        <span class='oe-button-label'>Next</span></label>
                </div>
            </div>
            <div class="oe-panel" id="confirmation">
                <fieldset style="display: block;">
                    <legend>Checkout Confirmation</legend>
                    <p>
                        Please review the following information. If you need to make any changes, just click
               on the tabs and make your corrections.
                    </p>
                    <!-- Keep seperate 'div' tag/end-tags; empty-tag after
                 empty-tag causes succeeding element to disappear. -->
                    <div class="oe-div" id="book-selection-review">
                        <!-- -->
                    </div>
                    <div class="oe-div" id="shipping-review">
                        <!-- -->
                    </div>
                    <div class="oe-div" id="email-review">
                        <label class='oe-label' id="email-confirmation">
                        </label>
                    </div>
                </fieldset>
                <br style="clear: both;" />
                <div class="oe-nav-footer">
                    <label class='oe-prev oe-button' onclick="showPanel('#information');">
                        <span class='oe-button-label'>Back</span></label>
                    <button class='oe-button submit'>
                        <span class='oe-button-label'>Checkout</span></button>
                </div>
            </div>
            <!-- oe-container -->
        </div>
        <!-- oe-panels -->
        <fieldset class="hidden">
            <input type="hidden" id="current-tab" name="CurrentTab" value="" />
            <input type="hidden" id="isbn" name="ISBN" value="notpicked" />
            <input type="hidden" id="title" name="Title" value="" />
        </fieldset>
    </div>
</form>
