@using System.Diagnostics
@using BookSelection.WebApp
@using Blackriverinc.Framework.DataStore
@{  
    Layout = "~/_BasePage.cshtml";
    Page.Title = "Black River Systems, Inc. - Lending Library";

    IKeyedDataStore vbls = new KeyedDataStore(new HttpRequestDataStoreProvider(Request));
}
<div id="oe-email">
    <h2>
        O-o-o-p-s!</h2>
    <form action="/Default.cshtml">
    <fieldset>
        <p class="oe-para">
            <em>Something</em> has gone horribly wrong at our end! We most humbly apologise.</p>
        <p class="oe-para">@vbls["ErrorMessage"]</p>
        @if (@vbls["ErrorData"] != null)
            {
            <p class="oe-para">@vbls["ErrorData"]</p>
            }
        @if (@vbls["ShowStack"] != null
        && @vbls["ShowStack"].ToLower() == "true")
            {
            <p class="oe-para">@Html.Raw(@vbls["ErrorStack"].Replace("\r\n", "<br/>\r\n"))</p>
            }
        <p class="oe-para">
            You can try pressing the 'Sorry' button and hope for the best.
        </p>
        <input type="submit" value="Sorry!" />
    </fieldset>
    </form>
</div>
